.header {
    grid-area: head;
    height: auto;
    background-color: #d8ddea;
    display: inline-flex;
    align-items: center;
}

.header img {
    width: 70px;
    height: 60px;
    padding: 10px;
}

.item {
    color: #0405d1;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
    font-family: Dubai;
    display: inline-flex;
    align-items: center;
}

.signItem {
    display: inline-block;
    right: auto;
}

.name {
    display: flex;
}