.header {
    grid-area: head;
    height: auto;
    background-color: #d8ddea;
    display: grid;
    grid-template-areas:
            "pic slogan log";
}

.header img {
    width: 60px;
    height: 50px;
    padding: 10px;
    margin-left: 3px;
}

.item {
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: bolder;
    font-size: large;
}

.name {
    display: flex;
    align-items: center;
}

.slogan {
    grid-area: slogan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: #ffffff;
}

.signItem {
    grid-area: log;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

