.appWrapper {
  display: grid;
  grid-template-areas:
          "head head"
          "nav p";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 0px;
}

.appWrapperContent {
  grid-area: p;
  display: inline-block;
  height: 95vh;
  overflow: auto;
}